<!doctype html>
<html lang="en">
<head>
  {% capture canonical_path %}{{ page.url | replace:"/index.html","" }}{% endcapture %}
  {% capture apparent_file_name %}{{ canonical_path | split:"/" | last }}{% endcapture %}
  {% capture canonical %}{{ site.url }}{{ canonical_path }}{% unless canonical_path == "" or apparent_file_name contains "." %}/{% endunless %}{% endcapture %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <meta name="description" content="{{ page.content | markdownify | split:'</p>' | first | strip_html }}">
  <meta property="og:image" content="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=50">
  <meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta property="og:url" content="{{ canonical }}">
  <meta property="og:site_name" content="{{ site.name }}">
  <meta property="og:type" content="blog">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ canonical }}">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}">
  <meta name="twitter:description" content="{{ page.content | markdownify | strip_html | truncate: 200 }}">
  <meta name="twitter:image" content="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=120">
  <meta name="twitter:site" content="@PenmanRoss">
  <meta name="twitter:creator" content="@PenmanRoss">
  <meta name="twitter:domain" content="{{ site.url }}">
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=144">
  <meta name="msapplication-square70x70logo" content="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=70">
  <meta name="msapplication-square150x150logo" content="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=150">
  <link rel="apple-touch-icon-precomposed" href="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=152">
  <link rel="canonical" href="{{ canonical }}">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Merriweather:400,700italic,900,400italic">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
  <link rel="author" type="text/plain" href="/humans.txt">
  <link rel="icon" href="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=32" sizes="32x32">
  <link rel="icon" href="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=96" sizes="96x96">
  <link rel="icon" href="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=128" sizes="128x128">
  <link rel="icon" href="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=195" sizes="195x195">
  <link rel="icon" href="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=228" sizes="228x228">
  <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.name }}</title>
</head>
<body>

  <header class="site-header">
    <img src="//gravatar.com/avatar/94535d1ebaa0e495e758ee64b9d0e6d8?s=192" width="192" height="192" alt="" />

    <h1><a href="/">{{ site.name }}</a></h1>

    <nav>
      <a href="https://twitter.com/PenmanRoss" title="@PenmanRoss">Twitter</a>
      <a href="https://github.com/penman" title="@penman">GitHub</a>
      <a href="/blog">Blog</a>
    </nav>
  </header>

  {{ content }}

  <footer class="site-footer">

    <p class="twitter-button"><a href="https://twitter.com/PenmanRoss" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @PenmanRoss</a></div>

    {% if page.pull_requests %}
      <p>Noticed an error in <i>{{ page.title }}</i>?<br><a href="https://github.com/penman/penman.github.com/edit/master/{{ page.path }}">Submit a pull request!</a></p>
    {% endif %}

    {% if page.creative_commons %}
      <p><i>{{ page.title }}</i> is licensed under the <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
    {% endif %}

    <p>Apparently webrings are cool again. This site is part of one called <a href="http://cuties.online">Cuties.Online</a>. You can go to the <a href="http://cuties.online/?Go&amp;Prev&amp;9">previous site</a>, or the <a href="http://cuties.online/?Go&amp;Next&amp;9">next one</a>, or you can look at a <a href="http://cuties.online/?Go&amp;Rand&amp;9">random one</a>. If you want to add a touch of nostaliga to your website, you can also <a href="http://cuties.online/?Join">join it</a>.</p>

  </footer>


  <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36382565-2']);
    _gaq.push(['_trackPageview']);
  </script>
  <script src="//ssl.google-analytics.com/ga.js" async defer></script>
  <script src="//platform.twitter.com/widgets.js" async defer></script>

</body>
</html>
